#Archivo de configuracion proyecto_esteban.py
#
#
#Debe implementar un archivo de configuracion en el que se habiliten o deshabiliten las opciones #anteriores (el archivo se indica a traves de una bandera)
#
#
#- Debe implementar banderas para recibir argumentos desde la linea de comandos.  Los argumentos #tienen prioridad sobre el archivo de configuracion.
#    - habilitar analisis de cabeceras					
#    - habilitar deteccion de metodos HTTP				
#    - habilitar extraccion de correos					
#    - habilitar peticiones a traves de tor				
#    - indicar lista para busqueda de archivos (habilita la busqueda)	
#    - indicar nombre del archivo de reporte	
#
#FUNCIONAMIETO:
#Todas las lineas que no representen sematica para el archivo deberan ir comentadas (INCLUYENTO LINEAS VACIAS)
#Si una llave no lleva argumento debera tener un espacio vacio al frente
#Despues de cada llave seguiran dos puntos y despues de los dos puntos el valor sin dejar ningun espacio.			
cabeceras:True
metodos:True
correos:True
tor:True
lista:dump.sql,root.txt,install,admin,robots.txt,index.php,repository.git,plugin-cfg.xml,src,img,css,logs,js 
reporte:file_report.txt 
agent:Mozilla/5.0
